.home-contact-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1rem;
}

.home-contact-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1.5rem;
}

.home-contact-card-item {
  background-color: var(--color-background);
  transition: background-color 200ms
}

.home-contact-card-item:hover {
  background-color: var(--color-background-alt);
}