.home-contact-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1rem;
}

.home-contact-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: none;
  margin-top: 1.5rem;
}