.ui-card {
  background-color: var(--color-container);
  border: 1px solid #e0e0e0a1;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.125rem var(--color-shadow);
}

.ui-card:hover {
  background-color: var(--color-container-alt);
}