.ui-header-text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.ui-header-subtitle {
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
}

.ui-header-description {
  margin-top: 0.5rem;
  color: var(--color-text);
}

.ui-header-subtitle ~ .ui-header-description {
  margin-top: 1rem;
}