.ui-icon-text {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 0.5rem;
}

.ui-icon-text__text-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  text-align: left;
}
